body{
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    
}

.outer-box{
    border: 6px solid black;
    padding: 25px;
    background-color: #d9edf7;
}

.middle-box{
    border: 5px solid blue;
    padding: 20px;
    background-color: #ffffff;
}

.inner-box{
    border: 4px solid red;
    padding: 20px;
    background-color: #ffe6e6;
    text-align: center;
}